*{margin:0; padding: 0; box-sizing: border-box;}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgb(6, 26, 62), rgb(14, 217, 235));
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap:1rem;
}
.box{
    height: 10vh;
    width: 10vh;
    box-shadow: 0 0 10px 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    scale:1;
    transition: scale .3s;
}
.blur{
    filter:blur(5px);
}